.loading:before {
    background: #82828270;
    content: 'Loading...';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 11;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    color: #fffefe;
    padding: 14% 0 0 0;
    animation: colorChange 1.75s infinite;
}
@keyframes colorChange {
  0%   {color: rgb(177, 177, 177);}
  100%   {color: rgb(250, 250, 250);}
}
